/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
    font-family: "Merriweather", serif !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    background-color: #02031d !important;
    font-style: normal !important;

}

h1 {
    font-size: 30px !important;
    color: #021b2b !important;
    text-align: center !important;
}

h3 {
    font-size: 15px !important;
    color: #021b2b !important;
}


h4 {
    font-size: 10px !important;
    color: #021b2b !important;
    font-style: italic !important;
    color: #ff0841 !important;
}


@media (min-width: 768px) {
    .container {

        height: 40%;
        width: 60%;

    }

    .msgbox {
        height: 100px;
    }

    .conteudo{
    
    
        width: 700px !important;
    }
    
    .nomebox,
    .email,
    .senhabox,
    .select,
    .msgbox {
        border-radius: 5px;
        border-width: 0;
        width: 500px !important;
        
    }


    .nomebox::placeholder,
    .email::placeholder,
    .senhabox::placeholder {
        font-size: 14px;

    }



    .enviar {
        width: 180px;
        height: 40px;


    }

    h1 {
        font-size: 35px !important;

    }

    h3 {
        font-size: 20px !important;

    }


    h4 {
        font-size: 15px !important;

    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 70%;

    }
    

    .enviar {
        width: 180px;
        height: 40px;


    }

    .nomebox::placeholder,
    .email::placeholder,
    .senhabox::placeholder {
        font-size: 16px;
        padding: 5px;
    }

    .nomebox,
    .email,
    .senhabox,
    .select,
    .msgbox {
        border-radius: 5px;
        border-width: 0;
        width: 500px;
        height: 33px;
    }


    .msgbox {
        height: 100px;
    }


    

    h1 {
        font-size: 35px !important;
        position: relative;
        top: -15px;
    }

    h3 {
        font-size: 20px !important;

    }


    h4 {
        font-size: 15px !important;

    }
}
