.container {
    display: flex !important;
    height: 70% !important;
    max-width: 375px !important;
    height: 375px !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    background-color: #ebdfcc!important;
    border: 1px solid #ccc !important;
    border-radius: 10px!important ;
    

    
}
.conteudo{
    
    
    width: 300px !important;
}

.separador{
    position: relative!important;
    top: -4px !important;
    background-color: #02031d !important;
    height: 8px !important ;
  
 
   
}

.btn-send {
    align-content: center!important ;
    display: flex !important;
    justify-content: center !important ;

}

.enviar {
    width: 100px !important;
    height: 40px !important;
    border-radius: 5px !important;
    border-width: 0px !important;
    background-color: #b10c43 !important;
    color: #ebdfcc !important;
    font-style: bold !important ;

}

.btn-back{
    width: 100px !important;
    border-radius: 5px !important;
    border-width: 0px !important;
    background-color: #b10c43 !important;
    color: #ebdfcc !important;
    font-style: bold !important;

}


.aviso{
    font-size: 10px !important;
     
}



.enviadocomsucesso{
    display: none ;
    flex-direction: column ;
    justify-content: center ;
    align-items: center ;
    gap: 10px ;
    

    

}






.nomebox,
.email,
.senhabox,
.select,
.msgbox {
    width: 300px !important;
    border-radius: 5px !important;
    border-width: 1px !important;
    
}


.nomebox::placeholder,
.email::placeholder,
.senhabox::placeholder {
    font-size: 13px !important;



}




















.loading {
    height: 50px ;
    position: relative ;
    animation: loading 2s linear infinite ;
    display: none ;
    
    

    margin: 0 0 0 -25px ;
 

}

.emailcheck {
    animation: aparecer 2s linear ;
    height: 100px ;
    
    


}

@keyframes loading {
    from {
        rotate: 1deg;

    }

    to {
        rotate: 360deg;
    }


}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes aparecer {
    from {
        opacity: 0%;

    }

    to {
        opacity: 100%;
    }

}
