.form {
    height: 700px;
    position: relative;
    width: 1000px;
    border: 3px;
    box-shadow: 10px cornflowerblue;
    background-color: #f8f5f2;
    border-radius: 40px;
    top:50%;
    left: 50px;
    
    
}
.nomeformulario{
    text-align: center;
}
.board{
    position: absolute;
    top:50%;
    left: 50%;
    margin: -320px 0 0 -350px; 
    

}
.separador{
    width: 700px;
    height: 20px;
    background-color: #353634;
}

.body{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -500px;
    

}
.enviar {
    width: 700px;
    height: 40px;
    border-width: 1px;
    text-align: center;
    position: absolute;
    left: 50%;
    border-radius: 4px;
    margin:  0 -350px ;
    background-color: #2b2b2b;
}

.nomebox{
    width: 700px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
}


.email{
    width: 700px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;

}


.senhabox{
    width: 700px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    top: 1000px;
}

.aviso{
    font-size: 10px;
    
}

.asterisco{
    color: red;
    font-size: 18px;
}
.select{
    width: 700px;
    outline: 0px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid ;
    
}


.msgbox{
    width: 700px;
    height: 90px;
    border-radius: 5px;
    border-width: 1px;
}

.enviado{
    position: absolute;
    top: 30%;
    left: 30%;
    color:#000000;

}
.enviadocomsucesso{
    display: none;


}

.voltar{
    width: 300px;
    height: 40px;
    border-width: 1px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    border-radius: 4px;
    margin:  0 -150px ;
    background-color: #2b2b2b;
    color: #f8f5f2;
    

}

.loading{
    height: 50px;
    position: absolute;
    animation: loading 2s linear infinite;
    display: none;
    left: 50%;
    
    margin: 0 0 0 -25px;
    
    
}

.emailcheck{
    animation: aparecer 2s linear ;
    position: absolute;
    height: 100px;
    top: 34%;
    left: 50%;
    margin: -0px 0 0 -50px;


}
@keyframes loading{
    from{
        rotate: 1deg;

    }
    to{
        rotate: 360deg;
    }


}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes aparecer{
    from{
        opacity: 0%;

    }
    to{
        opacity:100%;
    }

}